// Blue theme

// Color variables
$blue: #8767ba;
$blue-small: #6c5294;
$blue-hover: #9b76d6;
$gray: #232629;
$white: #a5a7a1;

// Config
$color-background: $gray !default;
$color-alt-background: $gray !default;
$color-dot-accent: $blue !default;
$color-foreground: $white !default;
$color-title: $blue !default;
$color-body-text: $white !default;
$color-text-accent: $blue !default;
$color-code: $blue-small !default;
$color-nav-link: $blue !default;
$color-primary-link: $blue !default;
$color-hover-link: $blue-hover !default;

.font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Import sass partials (used in all themes)
@import
        "variables",
        "base",
        "components",
        "utilities"
;
